.title {
  font-size: 2.5em;
}
.start-session-btn {
  height: 10vh;
  width: 50vw;
}
.session-false {
  display: none;
}
.session-true {
  display: block;
}
@media only screen and (max-width: 600px) {
}
.map {
  width: 100vw;
  height: 400px;
  background: rgb(235, 154, 154);
  border-radius: 10px;
  margin: 1%;
}
#start-session {
  margin-top: 5%;
}

#space {
  height: 20vh;
}
